<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VanillaRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "shared/cdn" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

        <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
  

    <!-- Make it responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  
  </head>
    <%= render "shared/navbar"%>
  <body>

    <div class="container mt-4">
      <%= render "shared/flash_messages"%>
    <%= yield %>
    </div>
</html>
